@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #0a0a0a;
        --background: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-geist-mono-vf);
}

.text-shadow {
    text-shadow: 1px 1px 0 #000000, 1px 1px 8px #ddd3d3;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .font-bebas-neue-regular {
        font-family: var(--font-bebas-neue-regular);
    }
}
