@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-carattere: "Carattere", serif;
        --font-lobster: "Lobster", serif;
        --font-open_sans: "Open Sans", serif;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-open_sans);
    font-size: 48px;
}

.font-coinage-caps-kruger-gray {
    font-family: var(--font-coinage-caps-kruger-gray);
}

.text-shadow {
    text-shadow: 1px 1px 0 #000000, 1px 1px 8px #ddd3d3;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
